<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
</head>
<body>
        <div class="dropdown" id="app">
            <select v-model="selectedOption" @change="toggleButtonStatus">
              <option value="none">Не выбрано</option>
              <option value="deal">Сделка</option>
              <option value="contact">Контакт</option>
              <option value="company">Компания</option>
            </select>
            <button :class="{ active: isActive }" :disabled="!isActive" @click="onClick">
              <span v-if="isLoading">
                <div class="preloader"></div> 
              </span>
              <span v-else>{{ buttonLabel }}</span>
            </button>
          </div>
      </div>
           
    <script src="https://unpkg.com/vue@next"></script>
    <script src="app.js"></script>
</body>
</html>